.error-message{
    color: '#f44336';
    background-color: '#ffebee';
    padding: '10px';
    border-radius: '4px';
    margin-bottom: '15px';
    text-align: 'center';
}

.login__form{
  margin-inline: auto;
  overflow: hidden;
  border: 1px solid #000;
  color: #000;
  padding: 45px;
  padding-top: 0;
  inline-size: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-button{
    padding: 10px 10px;
    background-color: #355910;
    color: #fff;
    border: none;
    transition: filter 0.5s ease;
}

.login-button:hover{
    filter: brightness(1.1);
}

.login__form-container{
    background-image: url(../assets/images/cover.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
    color: #fff;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.input__text-field{
    padding: 13px;
}

.input__text-field:invalid{
    border: 1px solid #c06363;
}

.login__form-container::before{
    background-color: rgb(0, 0, 0, 0.5);
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    inline-size: 100%;
    block-size: 100%;
}

label{
    display: flex;
    align-items: center;
    gap: 10px;
}

.form__decor{
    inline-size: 100%;
    mask-image: url(../assets/svg/mask.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}