.form--register{
    margin-inline: auto;
    overflow: hidden;
    border: 1px solid #000;
    color: #000;
    padding: 45px;
    inline-size: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

.error-message{
    color: '#f44336';
    background-color: '#ffebee';
    padding: '10px';
    border-radius: '4px';
    margin-bottom: '15px';
    text-align: 'center';
}